name: Build VT-SSTV Executable

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch: # Đây chính là dòng "ma thuật" để hiện nút Run workflow thủ công

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy sounddevice pysstv Pillow scipy pyinstaller

      - name: Build with PyInstaller
        run: |
          pyinstaller --noconfirm --onefile --windowed --name "VT-SSTV_v3.9" SSTV.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: VT-SSTV-Exe-File
          path: dist/VT-SSTV_v3.9.exe
